<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyFitness Gym</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://fontawesome.com/search?q=supplier&o=r&m=free&f=classic" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="dist/img/YashBedekar-logo.png" alt="AdminLTELogo" height="120" width="120">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i> Dashboard</a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    @* <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                    <i class="fas fa-search"></i>
                    </a> *@
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a class="brand-link">
                <span class="brand-text font-weight-light" style="font-style: Arial;">
                     <img src="~/assets/img/InquisitechLogo.png" alt="Consignors Image" style="width: 80px; height: 60px; margin-right: 10px;"><br>
                     <span style="font-size: 27px;">Inquisitech Solutions</span>
                 </span>
            </a>

            </a>
            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Sidebar Menu -->
            <nav class="mt-4">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold; #fff;">
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                Home
                            </p>
                        </a>
                    </li>

                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Members" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold; color: #fff;">
                            <img src="~/assets/img/supplier.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                Consignors
                            </p>
                        </a>
                    </li>


                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Consignors" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold;color: #fff;">
                            <img src="~/assets/img/delivery-truck.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                Transports
                            </p>
                        </a>
                    </li>

                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Consignors" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold;color: #fff;">
                            <img src="~/assets/img/districts.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                Districts
                            </p>
                        </a>
                    </li>

                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Consignors" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold;color: #fff;">
                            <img src="~/assets/img/dealer.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                Dealers
                            </p>
                        </a>
                    </li>

                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Products" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold;color: #fff;">
                            <img src="~/assets/img/products.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                Products
                            </p>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="DealerTypes" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold;color: #fff;">
                            <img src="~/assets/img/dealer.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                DealerTypes
                            </p>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Groups" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold; color:#fff;">
                            <img src="~/assets/img/crowd-of-users.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                Groups
                            </p>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Talukas" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold;color: #fff;">
                            <img src="~/assets/img/dealer.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                SubDealers
                            </p>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Groups" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold;color: #fff;">
                            <img src="~/assets/img/Despatches.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                DespatchTypes
                            </p>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Groups" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold;color: #fff;">
                            <img src="~/assets/img/destination.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                Destinations
                            </p>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Groups" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold;color: #fff;">
                            <img src="~/assets/img/destination.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                               DestRateMaster
                            </p>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Groups" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold;color: #fff;">
                            <img src="~/assets/img/districts.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                Talukas
                            </p>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <!-- Added mb-2 class for bottom margin -->
                        <a asp-area="" asp-controller="Groups" asp-action="Index" class="nav-link" style="font-size: 20px; font-weight: bold; #fff;">
                            <img src="~/assets/img/inventory.png" alt="Consignors Image" style="width: 25px; height: 25px; margin-right: 10px;">
                            <p>
                                ProductStockHistory
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>


        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            @*  <h1 class="m-0">Admin Dashboard</h1> *@
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()

                </div>
                <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <footer class="main-footer bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-0">
                    <img src="~/assets/img/InquisitechLogo.png" alt="Your Image Description" width="40" height="40">
                    <h10>
                        All Rights are Reserved by <strong>INQUISITECH SOLUTIONS</strong> Copyrights 2024-2025
                    </h10>
                    <!-- Insert your image here with specified width and height -->
                </div>
            </div>
        </div>
    </footer>





    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
            <!--jQuery-- >
        <script src="~/plugins/jquery/jquery.min.js" ></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~//chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~//sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~//jqvmap/jquery.vmap.min.js"></script>
    <script src="~//jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~//moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>
</body>
</html>
